.section {
  padding-top: 100px;
}


.container {
  margin-top: 100px;
}

.title {
  font-size: 60px;
  margin-bottom: 15px;
  text-align: center;
  color: black;
  font-weight: 600;
}

.patientstextcontainer p {
  font-weight: 600;
  font-size: 18px;
}

.subtitle {
  /* padding-left: 20%;
  padding-right: 20%; */
  font-size: 25px;
  text-align: center;
}

.patientstextcontainer {
  text-align: left;
  font-size: 25px;
  color: #9B9B9B;
  font-weight: 600;
}

.patientstextcontainer p:nth-child(3) {
  font-weight: 400 !important;
  font-size: 20px;
  color: #9B9B9B;
}

.patientstextcontainer p:nth-child(4) {
  font-size: 25px;
  color: #9B9B9B;
  font-weight: 600;
  font-size: 18px;
}
