.section {
  padding: 100px 0px;
}

.section2Subsection {
  padding-top: 50px;
}

.backgroundImage {
  background: linear-gradient(135deg,rgb(89,206,255) 0%,rgb(134,125,226) 100%);
}

.iconImage {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: block;
}

.iconText p {
  text-align: center;
}
