.section,
.section1,
.section3{
  padding: 100px 0px;
}

.mt {
  margin-top: 50px;
}

.title {
  font-family: 'barlow';
  font-size: 60px;
  font-weight: 600;
}

.title3 {
  font-size: 45px !important;
  font-weight: 900;
}

.section3 img {
  margin-top: 50px;
}

 .section3title {
  font-weight: 900;
  margin-top: 25px;
}

.iconText > p:nth-child(2) {
  font-size: 18px;
}

.section1 p,
.section p,
.section3 p {
  font-size: 25px;
}

.section2Subsection {
  padding-top: 50px;
}

.section2Subsection img {
  margin-left: 25px;
}

.backgroundImage {
  background: linear-gradient(135deg,rgb(89,206,255) 0%,rgb(134,125,226) 100%);
}

.backgroundImage h1,
.backgroundImage p {
  color: white;
}

.iconImage {
  height: 100px;
  width: 100px;
  display: block;
}

.iconText p {
  text-align: left;
}

.section3 {
  padding-bottom: 0px !important;
}

@media only screen and (max-width: 800px) {

  .section3 img {
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding-top: 0px !important;
    padding-right: 0px;
  }

  .section1 p,
  .section p,
  .section3 p {
    text-align: center;
  }

  .section2Subsection img {
    margin-left: 0px;
  }

  .section1 {
    padding-top: 0px;
  }

}
