.container > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  background-color: #2C336E;
  color: white;
  padding-top: 50px;
}

.socialIcons {
  font-size: 0;
  border-radius: 50%;
  background-color: #565c8f;
  padding: 20px;
  display: inline-block;
  z-index: -2;
}

.rightsReserved {
  position: relative;
  background-color: #2C336E;
}

.privacyPolicy {
  margin: 0px 10px;
}

.rightsReserved a {
  color: white;
}

.rightsReserved > div{
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.rightsReserved p {
  margin-bottom: -10px;
  color: white;
  font-size: 15px;
}

.footerColor p {
  color: white;
  font-weight: 900;
}

.footerColor {
  margin-right: 30px;
}

.footer2 input {
  color: white;
  background-color: #5A5E8E;
}

.footer2 i {
  color: white;
}

.footerColor input {
  margin-top: 0px !important;
  border-radius: 0px !important;
  padding: 20px !important;
  padding-right: 0px !important;
  height: 50px;
  background-color: #595F8F;
  border: none !important;
}

.footerColor button {
  color: #595F8F;
  border: 20px;
  background-color: #53C1F8 !important;
}

.footerColor input::placeholder {
  color: white;
  font-weight: 900;
}

.footer2 {
  background-color: #2C336E;
  display: flex;
  justify-content: space-between;
}

.footerColor {
  margin-top: -1px;
  background-color: #2C336E;
}

.unorderedList {
  list-style: none;
}

.container li {
  color: white;
}

.unorderedList li {
  font-weight: 900;
  font-size: 20px;
  margin: 10px 0px;
}

.unorderedList2 {
  font-weight: 600;
  list-style: none;
  font-size: 16px;
}

.unorderedList2 li {
  margin: 10px 0px;
}

.unorderedList a {
  color: white;
  text-decoration: none;
}

.unorderedList2 a {
  color: white;
  text-decoration: none;
}

.unorderedList2 > li:nth-child(1) {
  color: #6B7099;
}

.red {
  background-color: #DF4E6B !important;
  border-radius: 30px;
}

.background {
  background-color: #2C336E;
}

.background > ul {
  display: flex;
  list-style: none;
  color: white;
}

.background li {
  /* font-size: 0; */
  border-radius: 50%;
  background-color: #565c8f;
  padding: 20px;
  display: inline-block;
  z-index: 0;
  margin: 10px;
}

@media only screen and (max-width: 800px) {

  .rightsReserved > div {
    display: block;
  }
  .rightsReserved p {
    padding: 10px 0px;
    text-align: center;
  }

  .background > ul {
    display: flex;
    justify-content: center !important;
  }

  .footer2 {
    margin-top: -2px;
    display: block;
    padding-bottom: 30px;
  }

  .footerColor p {
    text-align: center;
    margin: 10px 0px;
  }

  .footerColor {
    margin: 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .container > div:nth-child(1) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
  }

  .red {
    margin-bottom: 30px;
  }

  .unorderedList,
  .unorderedList2
   {
    padding-left: 0px !important;
  }

  .background > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
  }
}
