.container > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  background-color: #2C336E;
  color: white;
  padding-top: 50px;
}

.footerColor p {
  color: white;
}

.footer2 i {
  color: white;
}

.footerColor input {
  margin-top: 0px;
  border-radius: 0px;
  height: 40px;
  background-color: #595F8F;
  border: none !important;
}

.footerColor button {
  height: 40px;
  padding-bottom: 20px;
}

.footerColor input::placeholder {
  color: white;
}

.footer2 {
  background-color: #2C336E;
  display: flex;
  justify-content: space-between;
}

.footerColor {
  margin-top: -1px;
  background-color: #2C336E;
}

.unorderedList {
  list-style: none;
}

.container li {
  color: white;
}

.unorderedList li {
  font-weight: 900;
  font-size: 20px;
  margin: 10px 0px;
}

.unorderedList2 {
  font-weight: 600;
  list-style: none;
  font-size: 16px;
}

.unorderedList2 li {
  margin: 10px 0px;
}

.unorderedList a {
  color: white;
  text-decoration: none;
}

.unorderedList2 a {
  color: white;
  text-decoration: none;
}

.unorderedList2 > li:nth-child(1) {
  color: #6B7099;
}

.red {
  background-color: #DF4E6B !important;
  border-radius: 30px;
}

.background {
  background-color: #2C336E;
}

.background > ul {
  display: flex;
  list-style: none;
  color: white;
}

.background li {
  /* font-size: 0; */
  border-radius: 50%;
  background-color: #565c8f;
  padding: 20px;
  display: inline-block;
  z-index: 0;
  margin: 10px;
}

@media only screen and (max-width: 800px) {
  .container > div:nth-child(1) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
  }

  .red {
    margin-bottom: 30px;
  }

  .unorderedList,
  .unorderedList2
   {
    padding-left: 0px !important;
  }

  .background > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
  }
}
