.backgroundImage {
  background: linear-gradient(135deg,rgb(89,206,255) 0%,rgb(134,125,226) 100%);
}

.textContainer {
  margin: 60px 0px;
}

.textTitle {
  font-size: 30px;
  color: white;
}

.textsubtitle {
  font-size: 25px;
  color: white;
}

.textsubtitle2 {
  font-size: 25px;
}

.section {
  padding: 40px 0px;
}

.gridList {
  list-style-type: none;
  display: grid;
  /* grid-auto-flow: column; */
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(14, auto);
  margin-left: 0;
  padding: 0px;
}

@media only screen and (max-width: 800px) {
  .section {
    padding: 0px;
  }

  .section img {
    padding: 25px;
  }

  .backgroundImage {
    margin-top: 50px;
    padding: 50px 25px;
  }
}
