.section {
  padding: 100px 0px;
}

.section1 {
  padding: 100px 0px;
  padding-left: 50px;
}

.backgroundImage {
  background: linear-gradient(135deg,rgb(89,206,255) 0%,rgb(134,125,226) 100%);
}

.section2TextContainer {
  text-align: center;
}

.bankingImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bankingText p {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .titleMentalHealth {
    text-align: center;
    font-size: 45px;
  }

  .section1 {
    padding: 100px 0px;
    padding-left: 0px;
  }

  .image {
    padding-left: 50px;
  }

  .subtext {
    text-align: center;
  }
}
