.section {
  padding: 100px 0px;
}

.section ul,
.section p {
  font-size: 25px;
  margin-left: 50px;
}

.title {
  font-size: 60px;
  margin-top: -50px;
  margin-left: 50px;
  font-weight: 600;
}

.subTitle {
  font-size: 45px;
  font-weight: 600;
  margin-top: 250px;
}

.text {
  font-size: 25px;
}

.backgroundImage {
  background: linear-gradient(135deg,rgb(89,206,255) 0%,rgb(134,125,226) 100%);
}

.section1Img{
  width: 100%;
}

.button {
  height: 60px;
  width: 150px;
  font-size: 1.2rem;
  background-color: #32374C;
  border: none;
  color: white;
  border-radius: 5px;
}

.textContainer {
  padding-left: 100px;
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
  }

  .subTitle {
    margin-top: 50px;
  }

  .section ul,
  .section p,
  .section h1 {
    margin-left: 0px;
  }

  .section h1 {
    margin-top: 20px;
  }

  .subtitle {
    text-align: center;
  }

  .list {
    text-align: center;
  }

  .textContainer {
    padding: 0px 25px;
    text-align: center;
  }

  .button{
    width: 100%;
  }

}
