.backgroundImage {
  background: linear-gradient(135deg,rgb(89,206,255) 0%,rgb(134,125,226) 100%);
}

.backgroundImage p {
  font-size: 25px;
}

.section,
.section2 {
  padding: 100px 0px;
}

.title {
  font-weight: 900;
  font-size: 60px;
}

.title2 {
  font-weight: 900;
  font-size: 60px;
  margin-top: 15px;
}

.section2 p,
.section2 ul {
  font-size: 25px;
}

.unorderedList {
  margin: 35px 0px;
}


@media only screen and (max-width: 800px) {

  .section,
  .section2 {
    padding: 50px 0px;
  }

  .backgroundImage > div > div > div {
    text-align: center;
  }

  .mobilePadding {
    padding: 25px;
  }

  .backgroundImage {
    padding: 0px 25px;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .title {
    margin-bottom: 30px;
  }

}
