.section {
  padding: 100px 0px;
}

.blue {
  background-color: #5ACEF9 !important;
  border: none;
}

.title {
  font-size: 45px;
}

.text {
  padding-left: 50px;
}

.backgroundImage {
  background: linear-gradient(135deg,rgb(89,206,255) 0%,rgb(134,125,226) 100%);
}

.backgroundImage p {
  font-size: 25px;
  color: white;
}

.section2 {
  font-size: 25px;
  margin-right: 25px;
}

.telehealth_section4 {
  padding-left: 50px;
}

.telehealth_section4 p {
  font-size: 25px;
  margin: 30px 0px;
}

.section3 {
  padding: 50px 0px
}

.banner {
  font-size: 30px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.sectionLast {
  padding-top: 100px;
}

.bannerButton {
  margin: 0 auto;
  display: block;
  background-color: white !important;
  color: blue;
  border-radius: 8px;
  border: none;
  padding: 15px 30px !important;
  margin-top: 25px;
}

@media only screen and (max-width: 800px) {

  .telehealth_section4 {
    padding-left: 0px;
    text-align: center;
  }

  .section {
    padding: 50px 25px;
  }

  .text {
    padding: 0px 25px;
    text-align: center;
  }

}
